<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47878693238-jmdg9v1aku65nun9qmm63qqd5ei9b08f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47878693238-jmdg9v1aku65nun9qmm63qqd5ei9b08f</string>
	<key>API_KEY</key>
	<string>AIzaSyCY8za-jnXgo15Hi8eIqo1IwgjX4zJZGsM</string>
	<key>GCM_SENDER_ID</key>
	<string>47878693238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rocket-help-450d0</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-help-450d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47878693238:ios:1859d02cf47c435e051a57</string>
</dict>
</plist>